
<div class="container">
    <h1>Inventario de Medicamentos</h1>
    <nav class="navbar navbar-light bg-dark">        
          <input class="form-control mr-sm-2" type="text" name="filterPost" placeholder="Search" aria-label="Search" [(ngModel)]="filterPost">        
      </nav>
    <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Laboratorio</th>
            <th scope="col">Elaboración</th>
            <th scope="col">Vencimiento</th>
            <th scope="col">Stock</th>
            <th scope="col">Valor(u.)</th>
            <th scope="col">Opciones</th>
            <th scope="col"><i class="fas fa-sort" (click)="sort()"></i></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let medicine of medicines">
            <th>{{medicine.nameMedicine}}</th>
            <td>{{medicine.factoryLaboratory}}</td>
            <td>{{medicine.manufacturingDate}}</td>
            <td>{{medicine.dueDate}}</td>
            <td>{{medicine.stockQuantity}}</td>
            <td>{{medicine.unitValue}}</td>
            <a routerLink="/venta/{{medicine.id}}">Vender</a>
            <a class="btn btn-info">Editar</a>
            <i
                class="fas fa-trash"
                style="color: #fff; cursor: pointer"
                (click)="delete(medicine.id)"
              ></i>
          </tr>
          <tr>
            <td><i class="fas fa-angle-double-left fa-2x" (click)="rewind()"></i></td>
            <td colspan="2">
              <span *ngFor="let p of totalPages; let i = index">
                <a style="cursor: pointer;" (click)="setPage(i)"
                [ngClass]="{'text-primary': i === page }">{{ i+1 }}&nbsp;&nbsp;&nbsp;</a>
              </span>
            </td>
            <td><i class="fas fa-angle-double-right fa-2x" (click)="forward()"></i></td>
          </tr>
          
        </tbody>
      </table>
</div>